/***************************************** GLOBAL */

* {
  box-sizing: border-box;
}

body {
  background: url("./images/bg.jpg") no-repeat;
  background-size: cover;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding-left: unset;
}

a {
  text-decoration: none;
}

/***************************************** CAROUSEL */

#carousel {
  height: 30vw;
  min-height: 300px;
  overflow: hidden;
  background: url('./images/top-image.png') no-repeat 35% 25%;
  border: solid 5px #fff;

  position: relative;
}

#carousel > .grid {
  opacity: .3;
}

#carousel > .logo {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
}

/***************************************** ARTICLES **************************/

#news article {
  background-color: #fff;
  padding-right: 10px;
  padding-left: 10px;
   margin-bottom: 45px;
   margin-top: 15px;

}
h2 {

    text-align: center;
    font-size: 30px;
}

h3 {
   font-size: 8px;
   color: darkgray;
}


/***************************SKATEBOARDERS *************************************/
#skateboarders   {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;

}




.skateboarders-image {
  height: 260px;
  width: 62px;
}

.skateboarders-image img {
  transform: rotate(90deg) translateY(-100%);
  transform-origin: left top;
  width: 275px;
}



/****************************BOARDS *******************************************/

#boards {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.boards-image {
  height: 260px;
  width: 62px;
}

.boards-image img {
  transform: rotate(90deg) translateY(-100%);
  transform-origin: left top;
  width: 275px;
}
